# Start command: composer update --classmap-authoritative && vendor/bin/phpstan analyze

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/src/
    excludePaths:
        - %currentWorkingDirectory%/tests/*
    ignoreErrors:
        - '#Call to function is_array\(\) with mixed will always evaluate to false#'
    reportUnmatchedIgnoredErrors: false
